<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    <!-- Javascript Docs -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<style>


	</style>

    <!-- <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script> -->

</head>
<body style="background-color:white;   border-style: solid; border-width: 0px;" >

     <br>

           <h5 style="color:#ff7d16; font-weight:bold">WORD CLOUD</h5>
    <br>


      <div style="width: 50rem; height: 50rem; margin: auto" >

        <h5 class="card-title"><div id = "disease2"></div></h5>
		  <br>
          <div id="word_cloud"></div>

      </div>




</body>

</html>
