<div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">

            <button (click)="getDisease('body')" style="width:250px; height:250px" class="btn btn-info  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/men-chest.png" />
                    </span>
            </button>
            <button  (click)="getDisease('heart')" style="width:250px; height:250px" class="btn btn-success  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/heart.png" />
                    </span>
            </button>
            <button  (click)="getDisease('brain')" style="width:250px; height:250px" class="btn btn-warning  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/brain.jpg" />
                    </span>
            </button>
            <button (click)="getDisease('respiratory')" style="width:250px; height:250px" class="btn btn-danger  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/respiratory.png" />
                    </span>
            </button>
            <button (click)="getDisease('foot')" style="width:250px; height:250px" class="btn btn-primary  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/foot.jpeg" />
                    </span>
            </button>
            <button (click)="getDisease('head')" style="width:250px; height:250px" class="btn btn-success  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/head.png" />
                    </span>
            </button>
            <button (click)="getDisease('shoulder')" style="width:250px; height:250px" class="btn btn-default  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/shoulder.png" />
                    </span>
            </button>
            <button (click)="getDisease('kidney')" style="width:250px; height:250px" class="btn btn-danger  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/kidney.png" />
                    </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selected_part" class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <h4>Famous Topics for </h4>
            <svg id="bubble" style="float: center; background: rgb(33,146,252)" width="1140" height="960"></svg>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selected_part"  class="row">
      <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Demographics of Fatal Diseases for {{selected_part}}</h5>
          </div>
          <div class="ibox-content">
              <div class="map"></div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selected_part"  class="row wrapper wrapper-content animated fadeInRight">
      <div class="col-sm-6" >
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Relation between topics</h5>
            </div>
             <div class="ibox-content">
                <svg id="network" width="600" height="600"></svg>
            </div>
          </div>
      </div>
      <div class="col-sm-6" >
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Word Cloud</h5>
          </div>
          <div class="ibox-content">
            <div id="word_cloud" width="600" height="600"></div>
          </div>
        </div>
      </div>
    </div>
</div>





