<div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <button (click)="onClick()" style="width:250px; height:250px" class="btn btn-info  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/brain.png" />
                    </span>
            </button>
            <button  (click)="onClick()" style="width:250px; height:250px" class="btn btn-warning  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/blood-supply-system.png" />
                    </span>
            </button>
            <button (click)="onClick()" style="width:250px; height:250px" class="btn btn-danger  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/respiratory-system.png" />
                    </span>
            </button>
            <button (click)="onClick()" style="width:250px; height:250px" class="btn btn-primary  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/human-foot.png" />
                    </span>
            </button>
            <button (click)="onClick()" style="width:250px; height:250px" class="btn btn-success  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/human-skull.png" />
                    </span>
            </button>
            <button (click)="onClick()" style="width:250px; height:250px" class="btn btn-default  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/men-chest.png" />
                    </span>
            </button>
            <button (click)="onClick()" style="width:250px; height:250px" class="btn btn-danger  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/men-hand.png" />
                    </span>
            </button>
            <button (click)="onClick()" style="width:250px; height:250px" class="btn btn-warning  dim btn-large-dim btn-outline" type="button">
              <span>
                        <img alt="image" class="img-circle" width="240px"
                             src="../../../assets/img/two-kidneys.png" />
                    </span>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
  <app-word-cloud></app-word-cloud>
  <app-tree></app-tree>


