<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="100px"
                             src="../../../assets/img/web_md.png" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear">
                          <span class="block m-t-xs">
                          <strong class="font-bold">MedViz</strong>
                      </span>
                          <span class="text-muted text-xs block">A visualization tool for Health Science</span>
                      </span>
                    </a>
                </div>
                <div class="logo-element">
                  <img alt="image" class="img-circle" width="80px"
                       src="../../../assets/img/web_md.png" />
                </div>
            </li>
        </ul>
    </div>
</nav>
