<!DOCTYPE html>
<meta charset="utf-8">
<style>
.node {
  cursor: pointer;
}
.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}
.node--leaf {
  fill: white;
}
.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}
.label,
.node--root,
.node--leaf {
  pointer-events: none;
}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>WebMD Visualization Team 25</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>
<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: auto; 
    border-collapse: 
    collapse; border-spacing: 0; 
	}

	td, th {  
	    border: 1px solid transparent; /* No more visible border */
	    height: 30px; 
	    transition: all 0.3s;  /* Simple transition for hover effect */
	}

	th {  
	    background: #DFDFDF;  /* Darken header a bit */
	    font-weight: bold;
	}

	td {  
	    background: #FAFAFA;
	    text-align: center;
	}

	/* Cells in even rows (2,4,6...) are one color */        
	tr:nth-child(even) td { background: #F1F1F1; }   

	/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
	tr:nth-child(odd) td { background: #FEFEFE; }  

	tr td:hover { background: #666; color: #FFF; }  
	/* Hover cell effect! */
</style>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-4 sidenav">
      <h4>WebMD Visualization</h4>
        <div class="row">
            <div class="col-sm-4">
                <div id ="respir" class="card" style="width:128px; box-shadow: 3px 3px 3px 3px #888888;">
                  <img class="card-img-top" src="../static/respiratory-system.png" alt="Card image">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:128px; box-shadow: 3px 3px 3px 3px #888888;">
                  <img class="card-img-top" src="../static/blood-supply-system.png" alt="Card image">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:128px; box-shadow: 3px 3px 3px 3px #888888;">
                  <img class="card-img-top" src="../static/human-abdomen.png" alt="Card image">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:128px; box-shadow: 3px 3px 3px 3px #888888;">
                  <img class="card-img-top" src="../static/human-foot.png" alt="Card image">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:128px; box-shadow: 3px 3px 3px 3px #888888;">
                  <img class="card-img-top" src="../static/human-skull.png" alt="Card image">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:128px; box-shadow: 3px 3px 3px 3px #888888;">
                  <img class="card-img-top" src="../static/men-chest.png" alt="Card image">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:128px; box-shadow: 3px 3px 3px 3px #888888;">
                  <img class="card-img-top" src="../static/men-leg.png" alt="Card image">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:128px; box-shadow: 3px 3px 3px 3px #888888;">
                  <img class="card-img-top" src="../static/men-shoulder.png" alt="Card image">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:128px; box-shadow: 3px 3px 3px 3px #888888;">
                  <img class="card-img-top" src="../static/two-kidneys.png" alt="Card image">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:128px; box-shadow: 3px 3px 3px 3px #888888;">
                  <img class="card-img-top" src="../static/men-hand.png" alt="Card image">
                </div>
            </div>
        </div>
		  	<div style="width:100%">
				<canvas id="canvas" src="height: 350px"></canvas>
			</div>
			<br>
			<br>
      <br>
      <div id="tableHeading"></div>
      <div id="table"></div>
      <br>
    </div>

    <div class="col-sm-8">
      <h4><small>Diseases growth</small></h4>
      <svg style="float: center; background: rgb(246, 246, 246)" width="960" height="960"></svg>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>WedMD Visualization</p>
</footer>

</body>
</html>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="static/util.js"></script>

<script>
	
	  function tabulate(heading, data, columns) {
	  		d3.select('#tableHeading').html(
	  			"<h4>"+heading+"</h4>"
	  			)
	  		d3.select('#table').html("")
			var table = d3.select('#table').append('table')
			var thead = table.append('thead')
			var	tbody = table.append('tbody');

			// append the header row
			thead.append('tr')
			  .selectAll('th')
			  .data(columns).enter()
			  .append('th')
			    .text(function (column) { return column; });

			// create a row for each object in the data
			var rows = tbody.selectAll('tr')
			  .data(data)
			  .enter()
			  .append('tr');

			// create a cell in each row for each column
			var cells = rows.selectAll('td')
			  .data(function (row) {
			    return columns.map(function (column) {
			      return {column: column, value: row[column]};
			    });
			  })
			  .enter()
			  .append('td')
			    .text(function (d) { return d.value; });

		  return table;
		}
</script>
<script>
		var playerData = {}
		$.getJSON("static/player_analysis.json", function(json) {
		    playerData = json;
		});
		var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var config = {
			type: 'line',
			data: {
				labels: ['2014', '2015', '2016', '2017', '2018'],
				datasets: [{
					label: 'Value1',
					backgroundColor: window.chartColors.green,
					borderColor: window.chartColors.green,
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					fill: false,
				}, {
					label: 'Value2',
					fill: false,
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Disease trend over years'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Player Data'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
			}
		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
		document.getElementById('randomizeData').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});
			});
			window.myLine.update();
		});
		var colorNames = Object.keys(window.chartColors);
		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[config.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + config.data.datasets.length,
				backgroundColor: newColor,
				borderColor: newColor,
				data: [],
				fill: false
			};
			for (var index = 0; index < config.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}
			config.data.datasets.push(newDataset);
			window.myLine.update();
		});
		document.getElementById('addData').addEventListener('click', function() {
			if (config.data.datasets.length > 0) {
				var month = MONTHS[config.data.labels.length % MONTHS.length];
				config.data.labels.push(month);
				config.data.datasets.forEach(function(dataset) {
					dataset.data.push(randomScalingFactor());
				});
				window.myLine.update();
			}
		});
		document.getElementById('removeDataset').addEventListener('click', function() {
			config.data.datasets.splice(0, 1);
			window.myLine.update();
		});
		document.getElementById('removeData').addEventListener('click', function() {
			config.data.labels.splice(-1, 1); // remove the label first
			config.data.datasets.forEach(function(dataset) {
				dataset.data.pop();
			});
			window.myLine.update();
		});
	</script>

<script>
var svg = d3.select("svg"),
    margin = 20,
    diameter = +svg.attr("width"),
    g = svg.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");
var color = d3.scaleLinear()
    .domain([-1, 5])
    .range(["hsl(200, 68%, 85%)", "hsl(250, 87%, 48%)"])
    .interpolate(d3.interpolateHcl);
var pack = d3.pack()
    .size([diameter - margin, diameter - margin])
    .padding(2);
d3.json("static/year_group.json", function(error, root) {
  if (error) throw error;
  root = d3.hierarchy(root)
      .sum(function(d) { return d.size; })
      .sort(function(a, b) { return b.value - a.value; });
  var focus = root,
      nodes = pack(root).descendants(),
      view;
  var circle = g.selectAll("circle")
    .data(nodes)
    .enter().append("circle")
      .attr("class", function(d) { return d.parent ? (d.children ? "node" : "node node--leaf" ) : "node node--root"; })
      .style("fill", function(d) { 
      				if(d.parent && !d.children){
      					return "rgb(246, 246, 246)";
      				}else if(d.parent == root){
	      				return "rgb(35, 42, 178)";
      				}else if(d.data.name == 'quarter'){
	      				return "rgb(248, 160, 89)"
      				}else if(d.data.name == 'semi'){
	      				return "rgb(81, 166, 211)"
      				}else if(d.data.name == 'Final'){
      					return "rgb(31, 158, 85)";
      				}
	      			return "hsl(200, 68%, 85%)";
      			})
      .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });
  var text = g.selectAll("text")
    .data(nodes)
    .enter().append("text")
      .attr("class", "label")
      .style("font-size", function(d) { 
      	var font = "13px";
      	if(d.parent === root ){
      		font = "25px";
      	}else if(d.children){
      		font = "20px";
      	}
      	return font; 
      })
      .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
      .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
      .text(function(d) { return d.data.name; });
  var node = g.selectAll("circle, text");
  svg
      .style("background", "rgb(250, 250, 250)") 
      .on("click", function() { zoom(root); });
  zoomTo([root.x, root.y, root.r * 2 + margin]);
  function zoom(d) {
    var focus0 = focus; focus = d;
 	console.log(d)  
    if(d.data.name == 'quarter' || d.data.name == 'semi' ||  d.data.name == 'Final'){
    	console.log('hello')
    	key = d.parent.data.name +''+ d.data.name
    	config.data.datasets[0].data = playerData[key].winner
    	config.data.datasets[1].data = playerData[key].loser
    	config.options.title.text = d.parent.data.name +' '+ d.data.name + ' winner and runner analysis ';
    	window.myLine.update();
    	var matchData = []
    	for(var i = 0; i < d.children.length; i++){
    		var obj = {};
    		obj['Player1'] = playerData[key].data[d.children[i].data.name]['player1']
    		obj['Player2'] = playerData[key].data[d.children[i].data.name]['player2']
    		obj['Winner'] = playerData[key].data[d.children[i].data.name]['winner']
    		obj['Result'] = playerData[key].data[d.children[i].data.name]['result']
    		matchData.push(obj);
    	}
    	var heading = d.parent.data.name +' '+ d.data.name + ' Match table ';
    	tabulate(heading, matchData, ['Player1', 'Player2', 'Winner', 'Result']);
    }

    var transition = d3.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .tween("zoom", function(d) {
          var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
          return function(t) { zoomTo(i(t)); };
        });
    transition.selectAll("text")
      .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
        .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
        .on("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
        .on("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
  }
  function zoomTo(v) {
    var k = diameter / v[2]; view = v;
    node.attr("transform", function(d) { 
    	return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; 
    });
    circle.attr("r", function(d) { return d.r * k; });
  }
});
</script>